<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello Template.</h1>
    <h1>Username: {{ username }}</h1>
    <h1>Age: {{age}}</h1>
    {% if is_premium %}
      <p>You are premium user.</p>
    {% endif %}

    <h2>Movies:</h2>
    <ul>
      {% for movie in movies %}
        <li>{{movie}}</li>
      {% empty %}
        <li>No movies found. You need to watch more films</li>  
      {% endfor %}
    </ul>

  </body>
</html>
